<template>
  <v-layout class='chat-bubble' v-bind:class="getWhoIsClass()">
    <div class='user'>{{ message.name }}</div>

    <div v-if="message.text != ''"
         class='text'>{{ message.text }}</div>
    <v-sheet v-else-if="message.html != ''"
             :elevation=12
             class='html'
             v-html="message.html"></v-sheet>
    <WidgetVideo v-else-if="message.video.url != ''"
                 v-bind:autoplay="true"
                 v-bind:video="message.video"></WidgetVideo>
    <div v-else class='text'>ERR : unsupported type of message</div>   <!-- TODO : i18n -->
  </v-layout>
</template>

<script>
import WidgetVideo from '@/components/WidgetVideo';

export default {
  name: 'ChatBubble',
  components: {
    WidgetVideo,
  },
  data() {
    return {
    };
  },
  props: {
    message: {
      type: Object,
    },
  },
  mounted() {
    console.log(this.message);
  },
  methods: {
    getWhoIsClass() {
      if (this.message.fromAssistant) {
        return 'from-assistant';
      }
      return 'from-user';
    },
  },
  computed: {
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>

/* TODO : DEL
h1 {
  font-weight: normal;
}
a {
  color: #42b983;
}
*/

.chat-bubble {
    display: block;
    margin: 1em;
    padding: 0.6em;
}

.chat-bubble .user {
    font-weight: bold;
}

.chat-bubble .text {
    font-size: 1.2em;
}

.chat-bubble .html {
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.6em;
    margin: 0.3em;

}

.from-assistant {
    margin-right: 20%;
    position: relative;
    background: #aa00bb;
    border-radius: .4em;
}

.from-assistant:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.8em solid transparent;
    border-right-color: #aa00bb;
    border-left: 0;
    margin-top: -0.8em;
    margin-left: -0.8em;
}


.from-user {
    margin-left: 20%;
    position: relative;
    background: #00aabb;
    border-radius: .4em;
}

.from-user:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.8em solid transparent;
    border-left-color: #00aabb;
    border-right: 0;
    margin-top: -0.8em;
    margin-right: -0.8em;
}

</style>

