<template>

  <v-container>
    <v-layout row class='text-center'>
      <v-flex xs12 sm6 offset-sm3>
        <v-container class='text-center'>
          <v-card flat class='px-2 py-2'>
            <v-card-title primary-title>
              <h1>Assistant</h1>   <!-- TODO: i18n -->
            </v-card-title>
            <v-form>
              <v-alert
                v-if='errorMessage != ""'
                :value="true"
                type="error"
              >
                {{ errorMessage }}
              </v-alert>
              <v-text-field prepend-icon='person' autofocus
                            v-model='username' name='username' label='Username'></v-text-field>   <!-- TODO: i18n -->
              <v-text-field prepend-icon='lock'  v-on:keyup='checkIfEnter'
                            v-model='password' name='password' label='Password' type='password'></v-text-field>   <!-- TODO: i18n -->
              <v-card-actions>
                <v-btn primary large block
                       @click='doLogin'>Login</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';
  import global from '@/main';

  export default {
    data() {
      return {
        username: '',
        password: '',
        errorMessage: '',
      };
    },
    methods: {
      checkIfEnter(e) {
        if (e.keyCode === 13) {
          // Enter pressed, execute the doLogin() function
          this.doLogin();
        }
      },
      doLogin() {
        const username = this.username;
        const password = this.password;

        console.log(global.authenticateUrl);
        let self = this;
        axios.post(global.authenticateUrl,
                   { username,
                     password,
                   })

             .then(function (response) {
               // Login success
               // We should receive : {'token' : 'xxxxxx...'}
               console.log('Authenticated');
               self.errorMessage = '';
               console.log(response.data);
               console.log(response.data.token);
               // Store the token in the local storage
               localStorage.setItem('token', response.data.token);
               localStorage.setItem('username', username);
               self.$router.push('/');
             })
             .catch(function (error) {
               console.log(error);
               // Login error
               if (error.response === undefined) {
                 self.errorMessage = error;
               } else if (error.response.status === 401) {
                 self.errorMessage = 'Authentication denied';
               } else {
                 self.errorMessage = `Unexpected error (HTTP code = ${error.response.status})`;
               }
             });
      },
    },
  };
</script>
