<template>
  <v-container>
    <Peer v-bind:address="$route.params.address"></Peer>
    <v-layout row wrap pt-4>
      <v-flex md6>
        <h2>Motion history</h2>    <!-- TODO i18n -->
        <div v-if='error != ""'>
         <v-alert
            :value="true"
            color="error"
          >
            <div>A problem occured while gathering the list of files:</div>  <!-- TODO : i18n-->
            <div>{{ error }}</div>
          </v-alert>
        </div>
        <div v-else>

          <v-container fluid grid-list-sm>
            <!-- if data loaded -->
            <v-alert    
             v-if="previewFiles.length == 0"
             :value="true"
             type="info"
            >
              <div>
                There is no motion event yet.  <!-- TODO : i18n -->
              </div>
            </v-alert>

            <v-layout 
             v-if="previewListDownloaded == true"
             row wrap>
              <v-flex 
               v-for="(prev, index) in previewFiles" v-if="index < 18"
               :key="prev.name"
               xs4>

                <v-card>
                  <v-img :src="`${fileUrl}/${prev.name}`" class="image" :alt="prev.name" width="100%" height="100%">
                   <v-container
                      fill-height
                      fluid
                      pa-2
                    >
                      <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                          <span class="headline video-time" v-text="">{{ prev.datetime | formatDate  }}</span>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-img>

                  <v-card-actions>
                   <v-btn
                     icon
                     dark
                     @click=""
                     :to="{path: previewPageBaseUrl + '/' + prev.name}"
                   >
                     <v-icon>play_circle_outline</v-icon>
                   </v-btn>
                   <v-btn
                     icon
                     dark
                     :href="`${fileUrl}/${prev.name}`.replace('jpg', 'mp4')"
                     target="_blank"
                   >
                     <v-icon>cloud_download</v-icon>
                   </v-btn>
                  </v-card-actions>
                </v-card>

              </v-flex>
            </v-layout>

            <!-- if no data yet -->
            <v-layout 
             v-else
             row wrap>
              <v-flex 
               v-for="i in [0, 1, 2, 3, 4, 5, 6, 7, 8]" 
               :key="i"
               xs4>
                <v-card>
                  <v-card-title class='nodata100'>
                    ...
                  </v-card-title>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>

        </div>

      </v-flex>


      <v-flex md6 mb-4 pr-4>
        <h2>Motion streaming</h2>    <!-- TODO i18n -->
        <p>If enabled, display the live motion detection streaming with boxes around the detected motions.</p>
        <WidgetVideo v-bind:video="videoData"></WidgetVideo>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios';
import global from '@/main';
import Peer from '@/components/Peer';
import WidgetVideo from '@/components/WidgetVideo';

export default {
  name: 'ProcessorMotionDetection',
  components: {
    Peer,
    WidgetVideo,
  },
  data() {
    return {
      previewPageBaseUrl: `/motion.detection/${this.$route.params.address}/preview`,
      previewUrl: `${global.proxyUrl}/${this.$route.params.address}/preview`,
      fileUrl: `${global.proxyUrl}/${this.$route.params.address}/file`,
      previewFiles: [],
      previewListDownloaded: false,
      error: '',
      videoData: {
        name: 'Motion detection',
        format: 'mjpeg',
        url: `${global.proxyUrl}/${this.$route.params.address}/videostream`,
        login: '',
        password: '',
      },
    };
  },
  created() {
    let self = this;
    axios.get(this.previewUrl)
         .then(function (response) {
           self.previewFiles = response.data;
           self.previewListDownloaded = true;
         })
         .catch(function (error) {
           self.error = error;
         });

  },
  props: {
  },
  methods: {
  },
  computed: {
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
.video-time {
  color: white;
  text-shadow:
   -2px -2px 4px #000,  
    2px -2px 4px #000,
    -2px 2px 4px #000,
     2px 2px 4px #000;
}

</style>

