<template>
  <v-sheet id='simple-chat'>
        <h3 class='headline mb-0'>{{ msg }}</h3>

        <div id='chat-history'>
          <div v-for='(c, index) in onChatHistory'
              v-bind:key='index'>
            <ChatBubble :message='c'></ChatBubble>
          </div>
        </div>

        <div id='input'>
          <v-text-field
           id='input-request'
           v-model='userRequest'
           label='Ask me anything...'
           hint=''
           clearable

           append-outer-icon='mic'

           @click:append-outer='microphone'

           v-on:keyup.enter='ask'></v-text-field>
        </div>
  </v-sheet>
</template>

<script>
import ChatBubble from '@/components/ChatBubble';

function scrollBottom() {
    this.$el.scrollTo(0, this.$el.scrollHeight);
}

export default {
  name: 'SimpleChat',
  components: {
    ChatBubble,
  },
  data() {
    return {
      msg: 'Simple chat',
      userRequest: '',
    };
  },
  methods: {
    ask() {
      // Send the request to the assistant gateway over weboskcets
      this.$store.dispatch('sendMessage', { type: 'dialog', name: 'You', text: this.userRequest });
      this.userRequest = '';
    },
    microphone() {
      // Send the request to the assistant gateway over weboskcets
      alert('micro');
    },
  },
  computed: {
    onMessage() {
      return this.$store.getters.MESSAGE;
    },
    onChatHistory() {
      this.$nextTick(scrollBottom);
      return this.$store.getters.CHAT_HISTORY;
    },
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
h1 {
  font-weight: normal;
}
a {
  color: #42b983;
}

#simple-chat {
    //border: 1px solid white;
    padding: 0.8em;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

#input {
    display: inline;
}


</style>
