<template>
  <v-sheet class='widget'>
    {{ name }}
    <div>
      <v-btn color='success' @click='runAction1'>Success</v-btn>
    </div>
  </v-sheet>
</template>

<script>

export default {
  name: 'WidgetActuator',
  data() {
    return {
      name: 'Actuator',
    };
  },
  props: {
  },
  mounted() {
  },
  methods: {
    runAction1() {
      alert('run');
    },
  },
  computed: {
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
.widget {
    padding: 0.8em;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}
</style>

