<template>
  <v-app id="app" dark>
    <router-view></router-view>
  </v-app>
</template>

<script>

import Home from '@/components/Home';

export default {
  name: 'App',
  components: {
    Home,
  },
  data() {
    return {
    };
  },
  computed: {
  },
};
</script>

<style>
#app {
  //font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

</style>
